@charset "utf-8";




#wof-01 .wof-wheel-btn{
    border: 2px solid #000;
    background-color: rgb(119, 16, 16);
    color: #fff;
    box-shadow: 3px 3px 10px  inset rgba(255, 255, 255, 0.5) ,-3px -3px 10px  inset rgba(0, 0, 0, 0.5) , 3px 3px 20px  rgba(0, 0, 0, 0.8);

}
#wof-01  .wof-wheel-btn:disabled{
    /* filter: grayscale(0.9) brightness(0.4); */
    cursor: progress;
}

#wof-01  .wof-wheel-disc-box{
    box-shadow: 3px 3px 10px 10px #00000033;
}

#wof-01  .wof-wheel-disc-section-label{
    font-size: clamp(12px, 4vmin, 36px);
    font-weight: bold;
    -webkit-text-stroke: 1px #ccc;
}

.wof-arrow-el {
    font-size: clamp(40px, 10vmin, 80px);
    filter: drop-shadow(2px 2px 5px #000);
 
}

.wof-wrap.spinning#wof-01 .wof-wheel-btn{
    /* border-color: #00ff00; */
    filter: brightness(1);
    animation-name: spinning-wheel-btn;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: none ;
    animation-timing-function: linear ;
    animation-direction: alternate-reverse;
}

/* 애니메이션 처리 */
@keyframes spinning-wheel-btn {
    from {filter: brightness(2);}
    to {filter: brightness(0.5);}
}


