@charset "utf-8";

.wof-container{
    box-sizing: border-box;
    color:#000;
    min-width: 280px;
}
.wof-wrap{
    --wheel-width:clamp(300px, 100% , 100vmin);
    --wheel-height:var(--wheel-width);
    --spin-dir:1;
    position: relative;
    width:min(var(--wheel-width) , 100%);
    margin:0 auto;
}
.wof-wrap.spin-dir-left{
    --spin-dir:-1;
}

.wof-arrow-wrap{
    position: absolute;
    top:0;left:0;right:0;
    text-align: center;
    z-index: 2;
}
.wof-arrow-box{
    width:var(--wheel-width);
    max-width: 100%;
    margin:0 auto
}
.wof-arrow-el{
    font-size:80px;
    color: #000;
    filter: drop-shadow(2px 2px 5px rgb(230, 255, 91));
    line-height: 1em;
}


.wof-wheel-wrap{
    width:var(--wheel-width);
    /* height:var(--wheel-height); */
    max-width: 100%;
    margin:0 auto;
    pointer-events: none;
    padding-top: 100%; /* 1:1 ratio */
    position: relative;
}
.wof-wheel-box{
    /* width:100%; */
    /* height:100%; */
    position: absolute;
    top:0;left: 0;right:0;bottom:0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.wof-wheel-disc{
    width:90%;
    height:90%;
    /* background-color: #abc; */
    /* border:2px solid #000; */
    border-radius: 100%;
    box-shadow: 3px 3px 10px 10px #00000033;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.wof-wheel-disc-el{
    width:100%;
    height:100%;
    background-image:  linear-gradient(to right, #1e5799 0%,#567f44 100%);
    border:2px solid #000;
    border-radius: 100%;
    position: relative;
}

.wof-wheel-disc-el-section{
    --section-line-1-rotate:0deg;
    --section-line-2-rotate:45deg;
}
.wof-wheel-disc-el-section-line{
    width:0px;
    height:50%;
    border:2px dotted #000;
    border-width: 0 2px 0 0;
    top:0; left:calc(50% - 2px / 2);
    transform-origin: center bottom;
    position: absolute;
    transform: rotate(0deg);
}
/* .wof-wheel-disc-el-section-line-1{
    transform: rotate(clac(var(--section-line-1-rotate) * -1));
} */
.wof-wheel-disc-el-section-line-2{
    transform: rotate(calc(var(--section-line-2-rotate) * -1));
}
.wof-wheel-disc-el-section-label{
    width:2px;
    height:50%;
    top:0; left:calc(50% - 2px / 2);
    transform-origin: center bottom;
    position: absolute;
    transform: rotate(calc( ( var(--section-line-2-rotate) + var(--section-line-1-rotate) ) /2 *-1  ));

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
    padding-top:1em;
    text-align: center;
}

.wof-wrap{
    --wheel-rotate:0deg;
}

.wof-wrap.on[data-spin="inf"]{
    --wheel-rotate:0deg
}
.wof-wrap.pause  .wof-wheel-disc-el{
    animation-play-state: paused;
}

.wof-wrap.on[data-spin] .wof-wheel-disc-el{
    animation-name: none;
    animation-duration: 3s;
    animation-iteration-count: 0;
    animation-fill-mode: none;
	animation-timing-function: linear ;
}

.wof-wrap.on[data-spin="inf"] .wof-wheel-disc-el{
    animation-name: spin-inf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both ;
    animation-timing-function: linear ;
}
.wof-wrap.on[data-spin="stop"] .wof-wheel-disc-el{
    animation-name: spin-stop;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both ;
    animation-timing-function: cubic-bezier(0.29, 0.26, 0.68, 1.04) ;
}
.wof-wrap.on[data-spin="now"] .wof-wheel-disc-el{
    animation-name: spin-now;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards ;
    animation-timing-function: linear ;
}


/* 애니메이션 처리 */
@keyframes spin-inf {
    from {transform: rotate( calc(-3600deg * var(--spin-dir) + var(--wheel-rotate ) ));}
    to {transform: rotate(0deg + var(--wheel-rotate ));}
}
@keyframes spin-stop { 
    from {transform: rotate( calc( -3600deg  * var(--spin-dir) + var(--wheel-rotate ) ) );}
    to {transform: rotate(  calc( 360deg * var(--spin-dir) + var(--wheel-rotate ) ) ); } 
}
@keyframes spin-now { 
    /* from {transform: rotate( 0deg );} */
    to {transform: rotate(  var(--wheel-rotate ) ); } 
}



